{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <title>LOGIN</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="{% static 'style.css' %}">
       <meta name="viewport" content="device-width, initial-scale=1.0">
    </head>
    <body>
      <nav>
        <ul>
          <li><a class="active" href="{%url 'login' %}">LOGIN</a></li>
          <li><a href="{%url 'signup' %}">SIGN UP</a></li>
        </ul>
      </nav>
      <br>
      <div class="container">
        <div class="card">
          <h2>Login</h2>
          <form method="POST" action="{% url 'login' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group">
              <label for="userid">User-ID / Email</label>
              <input type="text" id="userid" name="userid" placeholder="Enter your user-id / email" required>
            </div>
            <div class="input-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="submit">Login</button>
            <a href="{%url 'signup'%}">new user</a>
         </form>

        </div>
       </div>

        <div id="messageModal" class="modal-overlay">
        <div class="modal-box">
            <div id="modalMessage" class="modal-message"></div>
            <button class="modal-close-btn" onclick="closeModal()">Close</button>
        </div>
    </div>

    </body>
</html>


<!---pop up script -->
    <script>
        function showModal(msg) {
            const modal = document.getElementById('messageModal');
            const msgContainer = document.getElementById('modalMessage');
            msgContainer.innerHTML = msg;
            modal.style.display = 'flex';
            setTimeout(() => { modal.classList.add('show'); }, 10);
        }

        function closeModal() {
            const modal = document.getElementById('messageModal');
            modal.classList.remove('show');
            setTimeout(() => { modal.style.display = 'none'; }, 300);
        }
        
        window.onclick = function(event) {
            const modal = document.getElementById('messageModal');
            if (event.target == modal) {
                closeModal();
            }
        }
        </script>

<!---message or error script -->
        {% if messages %}
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                let msgText = "";
                {% for message in messages %}
                    msgText += "{{ message|escapejs }}<br>";
                {% endfor %}
                if (msgText) showModal(msgText);
            });
        </script>
    {% endif %}
    </body>
</html>
